{% extends 'base.html' %}
{% load static %}


{% block body %}

	<!-- jumbotron -->
	<section class="page-title bg-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1>{{ title }}</h1>
						<p>{{ description }}</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- input parameter -->
	<section class="section">
		<div class="container">
			<div class="row">
				<h2 class="text-center">Input Parameter</h2>
				<div class="col-md-5">
					<img class="img-responsive" src="{% static 'images/wrapper-img.png' %}">
				</div>
				<div class="col-md-7">
					<form class="row contact-form" id="contact-form" style="margin: 0 10px;" method="post">
						{% csrf_token %}
						<div class="block">
							<div class="row">
								<div class="col-sm-12">
									<div class="form-group">
										<input name="windowLength" type="number" step="0.01" value="{{ windowLength }}" class="form-control" placeholder="Window Length">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<input name="frameLength" type="number" step="0.01" value="{{ frameLength }}" class="form-control" placeholder="Frame Length">
									</div>
								</div>
								<div class="col-sm-12">
									<div class="form-group">
										<input name="mfccCoefficient" type="number" value="{{ k }}" class="form-control" placeholder="MFCC Coefficient">
									</div>
								</div>
							</div>
							<div class="col-sm-6">
								<button class="btn btn-default" type="submit">Send Message</button>
							</div>
							<div class="col-sm-6">
								<button class="btn btn-default" name="{{ automaticIdentification }}" type="submit">Automatic Identification</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	<div class="row">
		<div class="col-md-12">
			<div class="block">
				
				{% if hasilPresentaseKlasifikasi %}
					<div class="row">
						<div class="col-md-4">
							<p>{{ hasilKlasifikasiDum |safe }}</p>
						</div>
						<div class="col-md-4">
							<p>{{ hasilKlasifikasiTak |safe }}</p>
						</div>
						<div class="col-md-4">
							<p>{{ hasilKlasifikasiSlap |safe }}</p>
						</div>
						<div class="col-12 text-center">
							{{ hasilPresentaseKlasifikasi |safe }}
						</div>
					</div>
				{% endif %}
					

				
				{% if text %}
					<div class="block">
						<div class="row">
							{% for t in text %}
								<col-md-12>
									{{ t |safe }}
								</col-md-12>
							{% endfor %}
						</div>
					</div>
				{% endif %}
					
			</div>
		</div>
	</div>

	<section class="service-arrow">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-4 bg-primary">
					<div class="block">
						<i class="ion-erlenmeyer-flask"></i>
						<h3>Interface Design</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe enim impedit repudiandae omnis est temporibus.</p>
					</div>
				</div>
				<div class="col-md-4 bg-primary bg-primary-dark">
					<div class="block">
						<i class="ion-leaf"></i>
						<h3>Product Branding</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe enim impedit repudiandae omnis est temporibus.</p>
					</div>
				</div>
				<div class="col-md-4 bg-primary bg-primary-darker">
					<div class="block">
						<i class="ion-lightbulb"></i>
						<h3>Game Development</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe enim impedit repudiandae omnis est temporibus.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="service-list section bg-gray">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title text-center">
						<h2>What we do best</h2>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="block">
						<h4>User research</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block">
						<h4>Product marketing</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block">
						<h4>Visual design</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block">
						<h4>Front-end engineering</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block">
						<h4>Usability testing & analytics</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="block">
						<h4>Design sprints & prototyping</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, unde.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock body %}