{% extends 'base.html' %}
{% load static %}


{% block body %}

	<!-- jumbotron -->
	<section class="page-title bg-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1>Darbuka Tone Identification</h1>
						<p>
							Identify Darbuka Basic Tone and Tone Pattern<br/>
							using Mel Frequency Cepstral Coefficient (MFCC), Onset Detection and K-Nearest Neighbor (KNN) algorithm</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- input parameter -->
	<section class="section">
		<div class="container">
			<div class="row">
				<h2 class="text-center">Input Parameter</h2>
				<div class="col-md-12">
					<form enctype="multipart/form-data" class="row contact-form" id="contact-form" style="margin: 0 10px;" method="post" action="#result">
						{% csrf_token %}
						<div class="block">
							<div class="row">
								<div class="col-sm-2">
									<div class="form-group">
										<label for="frameLength">Frame Length (s)</label>
										<input id="frameLength" name="frameLength" type="number" step="0.01" value="{{ frameLength }}" class="form-control" placeholder="Frame Length" disabled>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<label for="hopLength">Hop Length (s)</label>
										<input id="hopLength" name="hopLength" type="number" step="0.01" value="{{ hopLength }}" class="form-control" placeholder="Hop Length" disabled>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<label for="mfccCoefficient">MFCC Coefficient</label>
										<input id="mfccCoefficient" name="mfccCoefficient" type="number" value="{{ mfccCoefficient }}" class="form-control" placeholder="K" disabled>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<label for="k">K (KNN)</label>
										<input id="k" name="k" type="number" value="{{ k }}" class="form-control" placeholder="K">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label for="inputFile">Input File WAV <em>(optional)</em></label>
										<input id="inputFile" name="inputFile" type="file" class="form-control" placeholder="Input File WAV">
									</div>
								</div>
							</div>
							<div class="col-sm-6 mt-10">
								<button class="btn btn-default" name="tonePatternAutomatic" type="submit">Tone Pattern (Automatic)</button>
							</div>
							<div class="col-sm-6 mt-10">
								<button class="btn btn-default" name="tonePattern" type="submit">Tone Pattern</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	{% if dumResult %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Basic Tone Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3><strong>ACCURACY</strong></h3>
								<p>{{ accuracyResult |safe }}</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;"><strong>DUM TONE</strong></h3>
							{% for result in dumResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											Result : {{ result }} 
											{% if result == 'DUM' %}
												[✅]
											{% else %}
												[❌]
											{% endif %}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/toneBasic/dum/dum' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;"><strong>TAK TONE</strong></h3>
							{% for result in takResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											Result : {{ result }} 
											{% if result == 'TAK' %}
												[✅]
											{% else %}
												[❌]
											{% endif %}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/toneBasic/tak/tak' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;"><strong>SLAP TONE</strong></h3>
							{% for result in slapResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											Result : {{ result }} 
											{% if result == 'SLAP' %}
												[✅]
											{% else %}
												[❌]
											{% endif %}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/toneBasic/slap/slap' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

	
	{% if baladiResult %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Tone Pattern Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3><strong>ACCURACY</strong></h3>
								<p>{{ accuracyResult |safe }}</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;">
								<strong>
									BALADI<br/>
									DUM - DUM - TAK - DUM - TAK
								</strong>
							</h3>
							{% for result in baladiResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											{{ result.0 }}
											<br/>
											
											{% for toneDetect in result.1 %}
												
												{% if toneDetect == True %}
												✅-
												{% else %}
												❌-
												{% endif %}
													
											{% endfor %}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/tonePattern/baladi2_' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;">
								<strong>
									MAQSUM<br/>
									DUM - TAK - TAK - DUM - TAK
								</strong>
							</h3>
							{% for result in maqsumResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											{{ result.0 }}
											<br/>
											
											{% for toneDetect in result.1 %}
												
												{% if toneDetect == True %}
												✅-
												{% else %}
												❌-
												{% endif %}
													
											{% endfor %}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/tonePattern/maqsum2_' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;">
								<strong>
									SAYYIDI<br/>
									DUM - TAK - DUM - DUM - TAK
								</strong>
							</h3>
							{% for result in sayyidiResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											{{ result.0 }}
											<br/>
											
											{% for toneDetect in result.1 %}
												
												{% if toneDetect == True %}
												✅-
												{% else %}
												❌-
												{% endif %}
													
											{% endfor %}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/tonePattern/sayyidi2_' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

	{% if resultBasicTone %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Basic Tone Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3>Result of <em>{{ filename }}</em></h3>
								<h3><strong>{{ resultBasicTone }}</strong></h3>
								<h3>
									<audio controls>
									<source src="{{ fileLocation }}" type="audio/wav">
								</audio>
							</h3>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

	{% if resultTonePattern %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Tone Pattern Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3>Result of <em>{{ filename }}</em></h3>
								<h3><strong>{{ resultTonePattern}}</strong></h3>
								<h3>
									<audio controls>
									<source src="{{ fileLocation }}" type="audio/wav">
								</audio>
							</h3>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

	
		

{% endblock body %}