{% extends 'base.html' %}
{% load static %}


{% block body %}

	<!-- jumbotron -->
	<section class="page-title bg-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1>Darbuka Tone Identification</h1>
						<p>
							Identify Darbuka Basic Tone and Tone Pattern<br/>
							using Mel Frequency Cepstral Coefficient (MFCC), Onset Detection and K-Nearest Neighbor (KNN) algorithm</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	
	{% if error %}
		<div class="text-danger">
			<strong>{{ error }}</strong>
		</div>
	{% endif %}
		

	<!-- input parameter -->
	<section class="section">
		<div class="container">
			<div class="row">
				<h2 class="text-center">Input Parameter</h2>
				<div class="col-md-12">
					<form enctype="multipart/form-data" class="row contact-form" id="contact-form" style="margin: 0 10px;" method="post" action="#result">
						{% csrf_token %}
						<div class="block">
							<div class="row">
								<div class="col-sm-2">
									<div class="form-group">
										<label for="frameLength">Frame Length (s)</label>
										<input id="frameLength" name="frameLength" type="number" step="0.01" value="{{ frameLength }}" class="form-control" placeholder="Frame Length" disabled>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<label for="overlap">Overlap (s)</label>
										<input id="overlap" name="overlap" type="number" step="0.01" value="{{ overlap }}" class="form-control" placeholder="Hop Length" disabled>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<label for="mfccCoefficient">MFCC Coefficient</label>
										<input id="mfccCoefficient" name="mfccCoefficient" type="number" value="{{ mfccCoefficient }}" class="form-control" placeholder="K" disabled>
									</div>
								</div>
								<div class="col-sm-2">
									<div class="form-group">
										<label for="k">K (KNN)</label>
										<input id="k" name="k" type="number" value="{{ k }}" class="form-control" placeholder="K">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label for="inputFile">Input File WAV <em>(optional)</em></label>
										<input id="inputFile" name="inputFile" type="file" class="form-control" placeholder="Input File WAV">
									</div>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<div class="col-6 mt-10">
									<label for="basicToneType">Basic Tone Type (optional)</label>
									<select name="basicToneType" class="form-control">
										<option value="DUM">DUM</option>
										<option value="TAK">TAK</option>
										<option value="SLAP">SLAP</option>
									</select>
								</div>
								<div class="col-6 mt-10">
									<button class="btn btn-default" name="basicTone" type="submit">Basic Tone</button>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<div class="col-6 mt-10">
									<label for="tonePatternType">Tone Pattern Type (optional)</label>
									<select name="tonePatternType" class="form-control">
										<option value="BALADI">BALADI</option>
										<option value="MAQSUM">MAQSUM</option>
										<option value="SAYYIDI">SAYYIDI</option>
									</select>
								</div>
								<div class="col-6 mt-10">
									<button class="btn btn-default" name="tonePattern" type="submit">Tone Pattern</button>
								</div>
							</div>
							<div class="col-sm-6 mt-10">
								<button class="btn btn-default" name="basicToneAutomatic" type="submit">Basic Tone (Automatic)</button>
							</div>
							<div class="col-sm-6 mt-10">
								<button class="btn btn-default" name="tonePatternAutomatic" type="submit">Tone Pattern (Automatic)</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	{% if dumResult %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Basic Tone Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3><strong>ACCURACY</strong></h3>
								<p>{{ accuracyResult |safe }}</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;"><strong>DUM TONE</strong></h3>
							{% for result in dumResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											Result : {{ result }} 
											{% if result == 'DUM' %}
												[✅]
											{% else %}
												[❌]
											{% endif %}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/toneBasicNoise/dum/dum' %}{{ forloop.counter|add:'50' }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;"><strong>TAK TONE</strong></h3>
							{% for result in takResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											Result : {{ result }} 
											{% if result == 'TAK' %}
												[✅]
											{% else %}
												[❌]
											{% endif %}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/toneBasicNoise/tak/tak' %}{{ forloop.counter|add:'50' }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;"><strong>SLAP TONE</strong></h3>
							{% for result in slapResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											Result : {{ result }} 
											{% if result == 'SLAP' %}
												[✅]
											{% else %}
												[❌]
											{% endif %}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/toneBasicNoise/slap/slap' %}{{ forloop.counter|add:'50' }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

	
	{% if baladiResult %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Tone Pattern Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3><strong>ACCURACY</strong></h3>
								<p>{{ accuracyResult |safe }}</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;">
								<strong>
									BALADI<br/>
									DUM - DUM - TAK - DUM - TAK
								</strong>
							</h3>
							{% for result in baladiResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											{{ result.0 }}
											<br/>
											{{ result.1 }}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/tonePattern/baladi2_' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;">
								<strong>
									MAQSUM<br/>
									DUM - TAK - TAK - DUM - TAK
								</strong>
							</h3>
							{% for result in maqsumResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											{{ result.0 }}
											<br/>
											{{ result.1 }}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/tonePattern/maqsum2_' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;">
								<strong>
									SAYYIDI<br/>
									DUM - TAK - DUM - DUM - TAK
								</strong>
							</h3>
							{% for result in sayyidiResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											{{ result.0 }}
											<br/>
											{{ result.1 }}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/tonePattern/sayyidi2_' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

	{% if resultBasicTone %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Basic Tone Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3>Result of <em>{{ filename }}</em></h3>
								<h3>Basic Tone Type: {{ basicToneType }}</h3>
								<h3><strong>{{ resultBasicTone }}</strong> ({{ toneResult }})</h3>
								<h3>
									<audio controls>
										<source src="{{ fileLocation }}" type="audio/wav">
									</audio>
								</h3>
								<img src="data:image/png;base64, {{ audioPlot|safe }}" alt="" style="width:100%">
								<img src="data:image/png;base64, {{ mfccPlot|safe }}" alt="" style="width:100%">
								<img src="data:image/png;base64, {{ knnPlot|safe }}" alt="" style="width:100%">
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

	{% if resultTonePattern %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Tone Pattern Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3>Result of <em>{{ filename }}</em></h3>
								<h3>Tone Pattern Type: {{ tonePatternType }} ({{ tonePattern }})</h3>
								<h3><strong>{{ resultTonePattern }}</strong></h3>
								<h3><strong>{{ tonePatternResult }}</strong></h3>
								<h3>
									<audio controls>
									<source src="{{ fileLocation }}" type="audio/wav">
								</audio>
							</h3>
							<img src="data:image/png;base64, {{ audioPlotBeforeOnsetDetection|safe }}" alt="" style="width:100%">
							
							<h3 class="text-bold">ONSET DETECTION</h3>
							{% for plot in plots %}
								<div class="text-center">
									<h4>Identification Tone - {{ forloop.counter }}</h4>
									{% for image in plot %}
										<div class="col-md-10 col-md-offset-1">
											<img src="data:image/png;base64, {{ image|safe }}" alt="" style="width:100%">
										</div>
									{% endfor %}
										
								</div>
							{% endfor %}
								
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

	
		

{% endblock body %}