{% extends 'base.html' %}
{% load static %}


{% block body %}

	<!-- jumbotron -->
	<section class="page-title bg-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1>Darbuka Tone Identification</h1>
						<p>
							Identify Darbuka Basic Tone and Tone Pattern<br/>
							using Mel Frequency Cepstral Coefficient (MFCC), Onset Detection and K-Nearest Neighbor (KNN) algorithm</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	
	{% if error %}
		<div class="text-danger">
			<strong>{{ error }}</strong>
		</div>
	{% endif %}
		

	<!-- input parameter -->
	<section class="section">
		<div class="container">
			<div class="row">
				<h2 class="text-center">Input Parameter</h2>
				<div class="col-md-12">
					<form enctype="multipart/form-data" class="row contact-form" id="contact-form" style="margin: 0 10px;" method="post" action="#result">
						{% csrf_token %}
						<div class="block">
							<div class="row">
								<div class="col-sm-3">
									<div class="form-group">
										<label for="frameLength">Frame Length</label>
										<select class="form-control" id="frameLength" name="frameLength">
											<option value="0.01" {% if frameLength == 0.01 %} selected {% endif %}>10 ms</option>
											<option value="0.02" {% if frameLength == 0.02 %} selected {% endif %}>20 ms</option>
											<option value="0.03" {% if frameLength == 0.03 %} selected {% endif %}>30 ms</option>
										</select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label for="overlap">Overlap</label>
										<select class="form-control" id="overlap" name="overlap">
											<option value="30" {% if overlap == 30 %} selected {% endif %}>30%</option>
											<option value="40" {% if overlap == 40 %} selected {% endif %}>40%</option>
											<option value="50" {% if overlap == 50 %} selected {% endif %}>50%</option>
										</select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label for="mfccCoefficients">MFCC Coefficient</label>
										<select class="form-control" id="mfccCoefficients" name="mfccCoefficients">
											<option value="7" {% if mfccCoefficients == 7 %} selected {% endif %}>7</option>
											<option value="10" {% if mfccCoefficients == 10 %} selected {% endif %}>10</option>
											<option value="13" {% if mfccCoefficients == 13 %} selected {% endif %}>13</option>
											<option value="16" {% if mfccCoefficients == 16 %} selected {% endif %}>16</option>
											<option value="19" {% if mfccCoefficients == 19 %} selected {% endif %}>19</option>
										</select>
									</div>
								</div>
								<div class="col-sm-3">
									<div class="form-group">
										<label for="k">K (KNN)</label>
										<select class="form-control" id="k" name="k">
											<option value="1" {% if k == 1 %} selected {% endif %}
											>1</option>
											<option value="3" {% if k == 3 %} selected {% endif %}
											>3</option>
											<option value="5" {% if k == 5 %} selected {% endif %}
											>5</option>
											<option value="7" {% if k == 7 %} selected {% endif %}
											>7</option>
											<option value="9" {% if k == 9 %} selected {% endif %}
											>9</option>
										</select>
									</div>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<div class="col-6 mt-10">
									<button class="btn btn-default" name="basicTone" type="submit">Basic Tone</button>
								</div>
							</div>
							<div class="col-sm-6 form-group">
								<div class="col-6 mt-10">
									<button class="btn btn-default" name="tonePattern" type="submit">Tone Pattern</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	{% if basicTone %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Basic Tone Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3><strong>ACCURACY</strong></h3>
								<p>{{ accuracy|safe }}</p>
							</div>
						</div>
					</div>
					
					{% for data in forData %}
						<div class="col-md-4">
							<div class="row">
								<h3 class="text-center" style="margin-bottom: 15px;"><strong>{{ data.1|title }} Tone</strong></h3>
								{% for i in data.0 %}
									<div class="col">
										<div class="block">
											<h4 class="text-center">
												{% load index %}
												Result : {{ resultIdentification|index:i }} 
												{% if resultIdentification|index:i == data.1 %}
													[✅]
												{% else %}
													[❌]
												{% endif %}
											</h4>
											<p>
												<audio controls>
													<source src="{% static 'dataset/toneBasic/test/' %}{{ data.1 }}/{{ data.1 }}{{ forloop.counter|add:'50' }}.wav" type="audio/wav">
												</audio>
											</p>
										</div>
									</div>
								{% endfor %}
							</div>
						</div>
					{% endfor %}

				</div>
			</div>
		</section>
	{% endif %}

	
	{% if baladiResult %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Tone Pattern Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3><strong>ACCURACY</strong></h3>
								<p>{{ accuracyResult |safe }}</p>
							</div>
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;">
								<strong>
									BALADI<br/>
									DUM - DUM - TAK - DUM - TAK
								</strong>
							</h3>
							{% for result in baladiResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											{{ result.0 }}
											<br/>
											{{ result.1 }}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/tonePattern/baladi2_' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
					
					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;">
								<strong>
									MAQSUM<br/>
									DUM - TAK - TAK - DUM - TAK
								</strong>
							</h3>
							{% for result in maqsumResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											{{ result.0 }}
											<br/>
											{{ result.1 }}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/tonePattern/maqsum2_' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

					<div class="col-md-4">
						<div class="row">
							<h3 class="text-center" style="margin-bottom: 15px;">
								<strong>
									SAYYIDI<br/>
									DUM - TAK - DUM - DUM - TAK
								</strong>
							</h3>
							{% for result in sayyidiResult %}
								<div class="col">
									<div class="block">
										<h4 class="text-center">
											{{ result.0 }}
											<br/>
											{{ result.1 }}
										</h4>
										<p>
											<audio controls>
												<source src="{% static 'dataset/tonePattern/sayyidi2_' %}{{ forloop.counter }}.wav" type="audio/wav">
											</audio>
										</p>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

	{% if resultBasicTone %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Basic Tone Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3>Result of <em>{{ filename }}</em></h3>
								<h3>Basic Tone Type: {{ basicToneType }}</h3>
								<h3><strong>{{ resultBasicTone }}</strong> ({{ toneResult }})</h3>
								<h3>
									<audio controls>
										<source src="{{ fileLocation }}" type="audio/wav">
									</audio>
								</h3>
								<img src="data:image/png;base64, {{ audioPlot|safe }}" alt="" style="width:100%">
								<img src="data:image/png;base64, {{ mfccPlot|safe }}" alt="" style="width:100%">
								<img src="data:image/png;base64, {{ knnPlot|safe }}" alt="" style="width:100%">
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

	{% if resultTonePattern %}
		<section class="service-list section bg-gray" id="result">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Result of Darbuka Tone Pattern Identification</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3>Result of <em>{{ filename }}</em></h3>
								<h3>Tone Pattern Type: {{ tonePatternType }} ({{ tonePattern }})</h3>
								<h3><strong>{{ resultTonePattern }}</strong></h3>
								<h3><strong>{{ tonePatternResult }}</strong></h3>
								<h3>
									<audio controls>
									<source src="{{ fileLocation }}" type="audio/wav">
								</audio>
							</h3>
							<img src="data:image/png;base64, {{ audioPlotBeforeOnsetDetection|safe }}" alt="" style="width:100%">
							
							<h3 class="text-bold">ONSET DETECTION</h3>
							{% for plot in plots %}
								<div class="text-center">
									<h4>Identification Tone - {{ forloop.counter }}</h4>
									{% for image in plot %}
										<div class="col-md-10 col-md-offset-1">
											<img src="data:image/png;base64, {{ image|safe }}" alt="" style="width:100%">
										</div>
									{% endfor %}
										
								</div>
							{% endfor %}
								
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>
	{% endif %}

{% endblock body %}