{% extends 'base.html' %}
{% load static %}


{% block body %}

  <!-- Slider Start -->
  <section class="slider">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h1 class="animated fadeInUp">Darbuka Tone<br>Identification</h1>
            <p class="animated fadeInUp">
              A system to identify from the basic tone and tone pattern darbuka darbuka</br>
              using MFCC, Onset Detection, and KNN
            </p>
            <a href="#aboutDarbuka" class="btn btn-main animated fadeInUp">About Darbuka</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- about darbuka -->
  <section class="about section" id="aboutDarbuka">
    <div class="container">
      <div class="row">
        <div class="col-md-7 col-sm-12">
          <div class="block">
            <div class="section-title">
              <h2>About Hadrah and Darbuka</h2>
              <p>Hadrah art is a musical art that is used as a medium of da'wah and worship of Allah SWT and the Prophet Muhammad SAW by people who adhere to Islamic beliefs, but has changed its form into a popular show and serves as entertainment.</p>
            </div>
            <p>Darbuka Musical Instrument is one of the musical instruments in Hadrah Arts where the Darbuka is shaped like a cormorant and made of aluminum with an average diameter of 8.75 inches or about 22 cm. Darbuka is played when the song enters the chorus by hitting it with a finger and making a dum, no, ka, and slap sound.</p>
          </div>
        </div><!-- .col-md-7 close -->
        <div class="col-md-5 col-sm-12">
          <div class="block">
            <img src="{% static 'images/wrapper-img.png' %}" alt="Img">
          </div>
        </div><!-- .col-md-5 close -->
      </div>
    </div>
  </section>

  <!-- more about darbuka -->
  <section class="feature bg-2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <h2 class="section-subtitle">MORE ABOUT DARBUKA</h2>
          <p>The goblet drum (also chalice drum, tarabuka, tarabaki, darbuka, derbake, debuka, doumbek, dumbec, dumbeg, dumbelek, toumperleki, tumbak, or zerbaghali, (Egyptian Arabic: دربوكة / "Romanized": Darbuka) is a single head membranophone with a goblet shaped body used mostly in Egypt and is considered the National symbol of Egyptian Shaabi Music, also in parts of the West Asia, North Africa, South Asia, and Eastern Europe. The African djembe-wassolou is also a goblet membranophone. This article focuses on the Eastern and North-African goblet drum. <i>(Source: <a href="https://en.wikipedia.org/wiki/Goblet_drum" alt="source fron wikipedia">Wikipedia</a></i></p>
          <a href="#darbukaTone" class="btn btn-view-works">Tone of Darbuka</a>
        </div>
      </div>
    </div>
  </section>

  <!-- tone of darbuka -->
  <section class="service" id="darbukaTone">
    <div class="container">

      <!-- basic tone -->
      <div class="row">
        <div class="section-title">
          <h2>Basic Tone of Darbuka</h2>
          <p>The basic tone of the darbuka musical instrument</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-4">
          <div class="service-item">
            <img src="{% static 'images/basic-tone/dum.png' %}" alt="">
            <h4>Dum</h4>
            <p>Press the right hand flat and let it bounce after the blow, fingers in a tight and straight position.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="service-item">
            <img src="{% static 'images/basic-tone/tak.png' %}" alt="">
            <h4>Tak / Ka</h4>
            <p>Arrange the middle and ring fingers then press the edge of the mica.</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="service-item">
            <img src="{% static 'images/basic-tone/slap.png' %}" alt="">
            <h4>Slap</h4>
            <p>The fingers should be opened more loosely than the dum and pressing on the mica darbuka.</p>
          </div>
        </div>
      </div>

      <!-- tone pattern -->
      <div class="row">
        <div class="section-title">
          <h2>Tone Pattern of Darbuka</h2>
          <p>The tone pattern of the darbuka musical instrument</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="service-item">
            <img src="{% static 'images/favicon.png' %}" alt="">
            <h4>Baladi</h4>
            <p>DUM - DUM - <em>pass</em> - TAK - <em>pass</em> - DUM - <em>pass</em> - TAK</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="service-item">
            <img src="{% static 'images/favicon.png' %}" alt="">
            <h4>Maqsum</h4>
            <p>DUM - TAK - <em>pass</em> - TAK - <em>pass</em> - DUM - TAK</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="service-item">
            <img src="{% static 'images/favicon.png' %}" alt="">
            <h4>Sayyidi</h4>
            <p>DUM - TAK - <em>pass</em> - DUM - DUM - <em>pass</em> - TAK</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- identification -->
  <section class="call-to-action bg-1 section-sm overly">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block">
            <h2>Darbuka Tone Identification</h2>
            <p>The system is made using the Mel Frequency Cepstral Coefficient (MFCC), Onset Detection, and K-Nearest Neighbor (KNN) algorithm.</p>
            <a class="btn btn-main btn-solid-border" href="/training" >Training Data</a>
            <a class="btn btn-main btn-solid-border" href="/basic-tone" >Basic Tone Identification</a>
            <a class="btn btn-main btn-solid-border" href="/tone-pattern" >Tone Pattern Identification</a>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}