{% extends 'base.html' %}
{% load static %}


{% block body %}

	<!-- jumbotron -->
	<section class="page-title bg-2">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="block">
						<h1>Training Data</h1>
						<p>Perform extraction using MFCC on the training data then save it into the database.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="section">
		<div class="container">
			<div class="row">
				
				<h2 class="text-center">Input Parameter</h2>
				<div class="col-md-5">
					<img class="img-responsive" src="{% static 'images/wrapper-img.png' %}">
				</div>
				<div class="col-md-7">
					<form class="row contact-form" id="contact-form" style="margin: 0 10px;" action="#training" method="post">
						{% csrf_token %}
						<div class="block">
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group">
										<label for="frameLength">Frame Length (s)</label>
										<input name="frameLength" type="number" step="0.01" value="{{ frameLength }}" class="form-control">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label for="overlap">Overlap (s)</label>
										<input name="overlap" type="number" value="{{ overlap }}" class="form-control">
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<label for="mfccCoefficient">MFCC Coefficient</label>
										<input name="mfccCoefficient" type="number" value="{{ mfccCoefficient }}" class="form-control">
									</div>
								</div>
							</div>
							<div class="col-sm-12">
								<button class="btn btn-default" name="trainingData" type="submit">Send Message</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>

	
	{% if trainingResult %}
		
		<section class="service-list section bg-gray" id="training">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="section-title text-center">
							<h2>Training Dataset</h2>
						</div>
					</div>
				</div>
				<div class="row">

					<div class="col-md-12">
						<div class="col">
							<div class="block text-center">
								<h3>
									<strong>
										{{ trainingResult |safe }}
									</strong>
								</h3>
							</div>
						</div>
					</div>

				</div>
			</div>
		</section>

	{% endif %}
		

{% endblock body %}